.post-card {
  border: 1px solid #e0e0e0;
  padding: 16px;
  margin: 30px 0px;
}

.post-card time {
  color: #888;
}
/* .post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */